[submodule "themes/Anisina2"]
	path = themes/Anisina2
	url = https://github.com/jiangxiayun/hexo-theme-Anisina.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/jiangxiayun/hexo-theme-icarus.git
